* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --grey: #515151;
  --green-standard: #19A795;
  --white-standard: #fff;
  --light-grey: #B0B0B0;
  font-size: 62.5%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper{
  display: flex;
}