* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --grey: #515151;
  --light-green: #B0DBD5;
  --green-standard: #19A795;
  --white-standard: #fff;
  --light-grey: #B0B0B0;
  --light-purple: #a46bcf;
  font-size: 62.5%;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* {
  
  Fontes do titulo 
  Titulo: 1.3rem
  Subtitulo: 1rem
  Texto normal: 0.5rem

 }
  */